# Ignore database files
*.db
*.sqlite3

# Ignore media files
/media/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment variables file
.env

# Ignore local settings file
local_settings.py

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore migration files
*/migrations/*.py
*/migrations/*.bak
*/migrations/*.swp
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore log files
*.log

# Ignore message files created by Django's internationalization framework
*.pot

# Ignore SQLite database files
db.sqlite3

# Ignore media files that are uploaded to the server
media

# Ignore virtual environment directories
.venv/
env/
venv/
ENV/
virt/
virtual/
env.bak/
venv.bak/

# Ignore secret key file
secret_key.txt

# Ignore system files
.DS_Store
Thumbs.db